:root{
    /*--main: #48B3A2;*/
    --main: #2674CF;
    --main2: #F9F9F9;
    --textColor: #333333;
    --textHighlight: white;
    --textHighlight2: #8ed0ff;
    --textHighlight3: #4082D4;
    --secondary: #ffff;
    --third: #fff;
}
