@import "../../resources/colorscheme.css";

.loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-color: #282b30;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    background-color: var(--discordMainBackground);
    width: 18%;
}

.subtext{
    font-style: italic;
    font-weight: 100;
    color: var(--textColor2);
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBox{
    margin-top: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 9vh;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: transparent;
}

.inputBox svg{
    height: 100%;
    width: 20%;
    margin-left: 1%;
}

.inputBox input{
    height: 90%;
    width: 80%;
    font-size: 1.4vw;
    background: linear-gradient(var(--textHover), var(--buttonColor)) bottom / 0 2px no-repeat;
    transition: 0.5s;
    padding-left: 10px;
    background-color: var(--discordMainBackground);
    color: white;
    border-left-width: 0.5px;
    border-radius: 10px;
    border-color: transparent;
}

.inputBox input:focus{
    outline: none;
    background-size: 100% 2px;
}

.inputBox input:focus::placeholder {
    color: transparent;
}

.inputBox input::placeholder{
    color: var(--textColor2);
}

.remakeFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#root{
    display: flex;
    margin: 0;
    flex-direction: row;
    background-color: black;
}

.imgLogo{
    width: 15vw;
    height: 15vw;
    margin-top: 24px;
}

.btnLogin {
    width: 100%;
    height: 50px;
    background-color: var(--buttonColor);
    border-width: 0;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 24px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.btnLogin:hover{
    border-width: 1px;
    border-color: #f5f5f5;
    border-style: solid;
}
