.topMenu{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
}

.titleMenu{
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: var(--textColor);
    font-size: 3vw;
    font-weight: bold;
}

.titleSearch{
    width: 50%;
    height: 100%;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}