@import "../../resources/colorscheme.css";

.navbar {
    height: 100%;
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background-color: var(--main);
    padding-top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: width 350ms ease;
}

.navbar:hover{
    width: 20%;
}

/*Logo of navbar*/
.topNavBar img {
    object-fit: contain;
    transition: all .5s linear;
    height: 100%;
    width: 100%;
    margin-left: 0.1em;
}

.topNavBar p {
    font-size: 1.8vw;
    font-weight: bold;
    color: var(--textHighlight);
    width: 70%;
    margin-left: 3px;
    margin-right: 1px;
    display: none;
}

.topNavBar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.navbar:hover .topNavBar p {
    display: inline-block;
}

.navbar:hover .topNavBar img {
    width: 30%;
}

/*Main of navbar*/
.mainContent li {
    list-style-type: none;
}

.hori-selector {
    position: absolute;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
    background-color: var(--main2);
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    margin-left: 4px;
}

.centerContent{
    display: flex;
    align-items: center;
}

.mainContent{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 60%;
}

/*none hover*/

.navbar ul li a i{
    display: none;
    white-space: nowrap;
    overflow: hidden;
}

.navbar ul li a{
    color: var(--main2);
    text-decoration: none;
    font-size: 3vw;
    display: flex;
    padding-left: 0.5em;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    height: 100%;
    width: 100%;
    font-weight: bold;

    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 1px;
    z-index: 2;
}

/*On hover*/

.navbar:hover ul li a{
    font-size: 3vw;
}

.navbar:hover ul li a i{
    display: inline;
    font-size: 2vw;
}

.navbar:hover .icon{
    display: flex;
}

.navbar:hover .secondBotBtn{
    display: flex;
}


.mainContent > li.active > a{
    color: var(--textHighlight3);
    background-color: transparent;
    transition: all 0.7s;
}

.icon{
    margin-right: 5px;
}

/*bottom of navbar*/
.botNav {
    margin-top: auto;
    padding-bottom: 30px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 10%;
}

.botBtn:hover{
    color: var(--textHighlight2);
}
.botNav img{
    object-fit: contain;
}

.botBtn {
    width: 100%;
    height: 90%;
    background-color: var(--main);
    font-weight: bold;
    color: var(--textHighlight);
    text-align: left;
    text-decoration: none;
    border-width: 0;
    cursor: pointer;
}

@media (max-width: 991px) {
    .hori-selector {
      margin-top: 0;
      margin-left: 10px;
      border-radius: 25px 0 0 25px;
    }
  }
