@import "./resources/colorscheme.css";

#root{
    display: flex;
    margin: 0;
    flex-direction: row;
}

.main{
    height: 100%;
    width: 86%;
    position: absolute;
    margin-left: 14%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    display: flex;
    flex: 1;
    background-color: var(--main2);
}

.logo{
    height: 100%;
    width: 100%;
}
.logoWrap{
    background-color: var(--main2);
    height: 12vw;
    width: 12vw;
    align-self: center;
    border-radius: 60%;
    margin-bottom: 50px;
}

